@{
    ViewData["SYSTitle"] = "人力资源管理系统";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["SYSTitle"]</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <!-- jquery.tablesorter -->
    <link rel="stylesheet" href="~/lib/jquery.tablesorter/css/theme.bootstrap_4.min.css" />
    <link rel="stylesheet" href="~/lib/jquery.tablesorter/css/jquery.tablesorter.pager.min.css" />
    <!-- bootstrap-select -->
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark mb-2">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">@ViewData["SYSTitle"]</a>
            @await Component.InvokeAsync("LoginPartial")
        </nav>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <div class="row">
            @await Component.InvokeAsync("Navbar")
            <main role="main" class="col-10 ml-sm-auto">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_Footer" />

    <!-- http://jquery.com -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- https://popper.js.org -->
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <!-- https://getbootstrap.com -->
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <!-- https://developer.snapappointments.com/bootstrap-select/ -->
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <!-- https://mottie.github.io/tablesorter/docs/index.html -->
    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="~/lib/jquery.tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>