@model HospitalPersonnelSystem.Models.SysEmp

@{
    ViewData["Title"] = "人员管理 - 查看";
    ViewData["Controller"] = "SysEmp";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.EmpCode" data-toggle="tooltip" data-placement="left" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a asp-action="Index" data-toggle="tooltip" data-placement="left" title="返回"><i class="fa fa-arrow-alt-circle-left fa-lg"></i></a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysDept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysDept.DeptCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OldName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OldName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComGender.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComNation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComNation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComPolitical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComPolitical.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoliticalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoliticalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComProfessionTitleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComProfessionTitleType.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComProfessionTitleLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComProfessionTitleLevel.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComProfessionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComProfessionTitle.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComAdminDuty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComAdminDuty.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysEmpType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysEmpType.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HospitalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HospitalAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Practice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Practice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PracticeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PracticeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenBank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenBank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComEducation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComEducation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComDegree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComDegree.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolMajor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolMajor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComMarriage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComMarriage.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NativePlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NativePlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsStop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateEmp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateEmp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
