@model IEnumerable<HospitalPersonnelSystem.Models.ComNation>

@{
    ViewData["Title"] = "民族";
    ViewData["Controller"] = "ComNation";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" data-toggle="tooltip" data-placement="left" title="创建"><i class="fa fa-plus-circle fa-lg"></i></a>
</p>
<table class="table table-bordered table-striped" data-sort="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
            <th class="sorter-false filter-false"></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
            <th></th>
        </tr>
        <tr>
            <th colspan="4" class="ts-pager">
                <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary first" title="首页">
                            <i class="fa fa-fast-backward first"></i>
                        </button>
                        <button type="button" class="btn btn-secondary prev" title="上一页">
                            <i class="fa fa-backward prev"></i>
                        </button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary next" title="下一页">
                            <i class="fa fa-forward next"></i>
                        </button>
                        <button type="button" class="btn btn-secondary last" title="尾页">
                            <i class="fa fa-fast-forward last"></i>
                        </button>
                    </div>
                    <select class="form-control-sm custom-select pr-4 pagesize" title="选择页面行数">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">全部</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="选择页码"></select>
                </div>
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Code" data-toggle="tooltip" data-placement="left" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a asp-action="Details" asp-route-id="@item.Code" data-toggle="tooltip" data-placement="top" title="查看"><i class="fa fa-info-circle"></i></a> @*|
                        <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        //排序
        $(function () {
            $('[data-sort="table"]').trigger('sorton', [[[2, 0]]]);
        });
    </script>
}