@model IEnumerable<HospitalPersonnelSystem.Models.SysNavbarType>
@using System.Linq;
@{
    //导航栏    位置：fixed-top sticky-top
}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@ViewData["CorporateName"]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="Index" class="nav-link">首页 <span class="sr-only">(current)</span></a>
            </li>
            @if ((bool)ViewData["IsSignedIn"])
            {
                foreach (var type in Model)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="@type.Code" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @type.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="@type.Code">
                            @foreach (var item in type.SysNavbars.OrderBy(t => t.Sort).ToList())
                            {
                                <a asp-controller="@item.Controller" asp-action="@item.Action" class="dropdown-item">@item.Name</a>
                            }
                            @*<div class="dropdown-divider"></div>*@
                        </div>
                    </li>
                }
            }
        </ul>
        @*<span class="navbar-text">
                Navbar text with an inline element
            </span>*@
        @if ((bool)ViewData["IsSignedIn"])
        {
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">欢迎 @ViewData["EmpName"] ！</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">退出</button>
            </form>
        }
        else
        {
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">登录</a>
        }
        @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>*@
    </div>
</nav>
<br />