@model HospitalPersonnelSystem.Models.SysItemInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SysItemInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SysItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SysItem.ItemName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
