@model IEnumerable<HospitalPersonnelSystem.Models.SysItemInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysItem.ItemName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
