@model IEnumerable<HospitalPersonnelSystem.Models.ComProfessionTitleLevel>

@{
    ViewData["Title"] = "职称级别";
    ViewData["Controller"] = "ComProfessionTitleLevel";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" data-toggle="tooltip" data-placement="left" title="创建"><i class="fa fa-plus-circle fa-lg"></i></a>
</p>
<table class="table table-striped" data-sort="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Code" data-toggle="tooltip" data-placement="left" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a asp-action="Details" asp-route-id="@item.Code" data-toggle="tooltip" data-placement="top" title="查看"><i class="fa fa-info-circle"></i></a> @*|
                        <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pager" class="pager">
    <form>
        @*<img src="~/lib/jquery.tablesorter/css/images/first.png" class="first" />
            <img src="~/lib/jquery.tablesorter/css/images/prev.png" class="prev" />*@
        <i class="fa fa-fast-backward first"></i>
        <i class="fa fa-backward prev"></i>
        <input type="text" class="pagedisplay" />
        <i class="fa fa-forward next"></i>
        <i class="fa fa-fast-forward last"></i>
        @*<img src="~/lib/jquery.tablesorter/css/images/next.png" class="next" />
            <img src="~/lib/jquery.tablesorter/css/images/last.png" class="last" />*@
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </form>
</div>
@section Scripts {
    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script src="~/lib/jquery.tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[data-sort=table]").tablesorter({
                sortList: [[2, 0]],
                headers: {
                    3: { sorter: false }
                },
                widthFixed: true,
                widgets: ['zebra']
            }).tablesorterPager({ container: $("#pager") });
        });
    </script>
}
